#contact{
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 500vh;
  /* background-color: black; */
  background-image: url("../images/contact-background.svg");

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.social-box{
  position: absolute;
  width: 25%;
  left: 20%;
  height: 80vh;
  top: 10vh;
  display: block;
  background-color: #DFDFDF;
}

.email-box{
  position: absolute;
  width: 25%;
  left: 55%;
  height: 80vh;
  top: 10vh;
  display: block;
  background-color: #DFDFDF;
}